body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

#container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.elements{
    text-align: center;
    display:flex;
    flex-direction: column;
    margin: 20px;
}

#titulli {
    font-weight: 900;
    text-align:center;
    font-size: 50px;
    background-color: #000;
    color:aliceblue;
}

p {
    font-size: 30px;
    font-weight: 700;
    color: red;
}

img{
    width: 150px;
    margin: 10px;
    cursor: pointer;
}

img:hover {
    border: 15px solid red;
    transform: scale(1.05);
  }

button{
    border-radius: 10%;
    padding:10px;
    background-color:black;
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 10px;
}

button:hover {
    border: 15px solid red;
    transform: scale(1.05);
  }

#score > div{
    text-align: center;
    margin: 10px;
    align-items: center;
}

#scoreid {
    color: red;
    font-size: 30px;
}

.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #dcdf3b;
    border: 5px solid #000;
    text-align: center;
}